# =========================================================================
# Compiled Binaries and Modules
# =========================================================================
*.ko
*.o
*.mod
*.mod.c
*.mod.o

# =========================================================================
# Kbuild / Build System Artifacts
# =========================================================================
.ko.cmd
.o.cmd
.mod.cmd
.mod.o.cmd
.*.cmd
.tmp_versions/
modules.order
Module.symvers

# =========================================================================
# Development & Debugging Artifacts
# =========================================================================
*.a
*.s
*.i
*.d
*.su
.cache.mk

# =========================================================================
# IDEs and Editors (Optional)
# =========================================================================
.vscode/
.idea/
*.swp
*~

# tests
test_ioctl